.headerHome {
    background-image: url(../Images/01headerImage.jpg);
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.headerHome H1{
    font-size: 138px;
    margin-top:0; 
    
}


.whatCaptured {
    background-color: $ice;
}