// Nav styles

nav ul { 
    list-style: none;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top:0;
}

nav li {
    margin-right: 30px;  
    font-family: 'PlayfairDisplay', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 29px; 
    letter-spacing: 1px; 
    text-transform: uppercase;
}

nav li:hover {
    border-bottom: 2px solid $green;
}

nav li:last-child {
    margin-right:100px;
}

