article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* base styles */
html {
  font-size: 125%;
  background-color: #effdf3; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: white; }

img {
  max-width: 100%;
  width: 100%; }

button {
  width: 200px;
  height: 53px;
  font-family: "Playfair Display", serif;
  background: #4ceea7;
  color: #2c2c2c;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
  border: none;
  text-align: center; }

.fas {
  background-color: #4ceea7;
  border-radius: 50%; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  display: inline; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  display: inline; }

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.625rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase; }

p {
  font-size: 1rem; }

button:focus,
nav li a:focus {
  border: 10px solid #fdfa69; }

/* HOME header styles */
header.headerHome {
  background-image: url(../images/01headerImage.jpg);
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid; }

.boxHome {
  position: absolute;
  right: 0;
  top: 45%;
  width: 38%;
  -webkit-box-shadow: 0 0 0 20px #fdfa69;
  box-shadow: 0 0 0 20px #fdfa69;
  z-index: 1; }

.boxHome img {
  width: 100%;
  display: block; }

.homeH1 {
  font-size: 6.9rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic;
  z-index: 3;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 100px; }

/* ALL Nav styles */
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 0;
  line-height: 1.6;
  padding-top: 15px; }

.navFlex ul a {
  text-decoration: none;
  color: #2c2c2c; }

nav li {
  margin-right: 50px;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase; }

nav li:hover {
  border-bottom: 2px solid #4ceea7; }

/* end of nav styles */
.whatCaptured {
  padding: 90px 0;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px; }

.whatCaptured h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase; }

.whatCaptured p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

.twosHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.skillsImage {
  position: relative;
  top: -30px;
  left: 0; }

.skillsImage,
.gearImage {
  width: 46%;
  padding-bottom: 0; }

.skillsHome,
.gearHome {
  width: 60%;
  padding: 5% 7%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gearHome h3 {
  margin-left: 162px; }

.gearHome button {
  margin-left: 325px; }

.skillsImage img {
  -webkit-box-shadow: 25px 15px #fdfa69;
  box-shadow: 25px 15px #fdfa69; }

.gearImage img {
  -webkit-box-shadow: -15px 25px #fdfa69;
  box-shadow: -15px 25px #fdfa69;
  position: relative;
  top: 30px;
  right: 0; }

.quadHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px; }

.quadsHome p {
  padding-left: 15%;
  margin-top: 0; }

.quadHome1 {
  margin-top: 60px; }

.quadHome2 {
  margin-bottom: 60px; }

i.fas {
  padding: 10px;
  margin: 20px; }

/* Month profile section */
.profilePicHome {
  width: 75%; }

.profilePicHome img {
  -webkit-box-shadow: 15px 25px #fdfa69;
  box-shadow: 15px 25px #fdfa69; }

.profileParaHome {
  padding-left: 50px;
  padding-bottom: 45px; }

.profileHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }

/* gallery for HOME*/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fafafa;
  padding: 50px 64px; }

.gallery img:nth-child(2) {
  margin: 0 30px; }

/* footer */
footer {
  background-color: #2c2c2c;
  margin-bottom: 0;
  padding: 0; }

footer p {
  padding: 0; }

.copyright p {
  text-align: center;
  color: #fafafa;
  margin-bottom: 0;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 0; }

/* BLOG STYLES */
.viewHeigthFix {
  min-height: 95vh; }

header.headerBlog {
  background-image: url(../Images/10blogHeader.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  width: 100%;
  min-height: 30vh; }

.textBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.locationsBlog {
  /* width: 72%; */
  -webkit-box-shadow: -5px 5px #fdfa69;
  box-shadow: -5px 5px #fdfa69; }

.locationsBlog img {
  width: 95%;
  -webkit-box-shadow: -25px 25px #fdfa69;
  box-shadow: -25px 25px #fdfa69;
  position: relative;
  right: -25px;
  top: -85px; }

.locationsBlog p {
  margin: 0; }

.para {
  padding-top: 40px; }

.asideBlog {
  width: 30%;
  margin-top: 45px;
  margin-right: 40px; }

.asideTextBlog {
  background: white;
  display: block; }

.asideTextBlog h4,
.asideTextBlog p,
.asideTextBlog ul {
  margin-left: 82px; }

.rightSideBlog {
  width: 70%; }

.commentBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 72%;
  margin-top: 60px; }

.comment1Blog {
  padding-left: 40px; }

.comment2Blog {
  padding-left: 40px; }

/* Comment Form styles for BLOG and GET IN TOUCH */
.inputFormBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 20px; }

.formBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0; }

.formGroup {
  width: 50%; }

input[type=text] {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: none;
  color: #2c2c2c;
  border: none;
  border-bottom: 2px solid #4ceea7;
  width: 290px; }

label {
  display: none; }

textarea,
.formMessage {
  padding-top: 20px;
  background: none;
  color: #2c2c2c;
  border: 2px solid #4ceea7;
  resize: none; }

textarea {
  width: 85%; }

textarea.formMessage {
  width: 100%; }

button.postComment {
  width: 100%;
  margin: 1% 0; }

button.submit {
  width: 85%;
  margin: 1% 0; }

/* Get in touch styles */
.headerInTouch {
  background-image: url(../Images/15contactHeader.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  min-height: 40vh; }

.InfoInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contactInTouch {
  width: 35%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 30px; }

.contactInTouch h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.625rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 0; }

.contactInTouch p {
  line-height: 1.1; }

.fagroup {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.fagroup li {
  margin-right: 25px; }

.formInTouch {
  margin-left: 30px;
  width: 55%;
  -webkit-box-shadow: -25px 25px #fdfa69;
  box-shadow: -25px 25px #fdfa69;
  position: absolute;
  right: 30px;
  top: 175px;
  background: #fafafa;
  padding: 20px 20px;
  resize: none; }

@media screen and (max-width: 1280px) {
  html {
    font-size: 1rem; } }

@media screen and (max-width: 1220px) {
  html {
    font-size: 80%; } }

@media screen and (max-width: 982px) {
  html {
    font-size: 70%; } }

@media screen and (max-width: 920px) {
  .contactInTouch {
    width: initial;
    padding: 30px 50px;
    margin: 0 auto; }
  .InfoInTouch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .formInTouch {
    margin: 0;
    width: initial;
    position: initial;
    -webkit-box-shadow: 0 0 0 0px;
    box-shadow: 0 0 0 0px; }
  input[type="text"] {
    width: inherit; } }

@media screen and (max-width: 880px) {
  .gearHome h3 {
    margin-left: 0px; }
  .gearHome button {
    margin-left: 0; } }

@media screen and (max-width: 830px) {
  .asideTextBlog h4,
  .asideTextBlog p,
  .asideTextBlog ul {
    margin-left: 0px;
    text-align: left; } }

@media screen and (max-width: 660px) {
  .navFlex ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  nav li:last-child {
    margin-right: 35px; }
  .quadHome h3 {
    font-size: 1.6rem; }
  .boxHome img {
    display: none; }
  .boxHome {
    -webkit-box-shadow: 0 0 0 0px;
    box-shadow: 0 0 0 0px; } }

@media screen and (max-width: 550px) {
  .textBlog {
    display: initial; }
  .asideBlog {
    width: 100%;
    margin-top: 0;
    margin-right: 0; }
  .rightSideBlog {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .locationsBlog img {
    width: 100%;
    -webkit-box-shadow: 0 0 0 0px;
    box-shadow: 0 0 0 0px;
    position: initial; }
  .commentBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 60px; }
  .formBlog {
    display: initial; }
  .formGroup,
  textarea,
  button.submit {
    width: 100%; }
  .comment1Blog,
  .comment2Blog {
    text-align: left;
    padding-left: 10px; } }

@media screen and (max-width: 450px) {
  .homeH1 {
    font-size: 3rem;
    z-index: 3;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .navFlex ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  nav li:last-child {
    margin-right: 35px; }
  .quadHome h3 {
    font-size: 1rem; } }

@media screen and (max-width: 320px) {
  .homeH1 {
    font-size: 2rem;
    z-index: 3;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  header.headerHome {
    min-height: 26vh; }
  .boxHome img {
    display: none; }
  .whatCaptured {
    margin-top: 0;
    margin-bottom: 0; }
  .skillsHome,
  .gearHome {
    padding: 4% 9%; }
  .skillsHome button,
  .gearHome button {
    width: 118px;
    height: 40px; }
  i.fas {
    padding: 2px;
    margin: 10px; }
  .profileParaHome {
    padding-left: 0; }
  .profilePicHome img {
    -webkit-box-shadow: 0 0 0 0px;
    box-shadow: 0 0 0 0px; }
  .contactInTouch {
    width: initial;
    padding: 30px 50px; }
  .InfoInTouch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .formInTouch {
    margin: 0;
    width: initial;
    position: initial;
    -webkit-box-shadow: 0 0 0 0px;
    box-shadow: 0 0 0 0px; }
  input[type="text"] {
    width: inherit; } }
