article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* base styles */


html {
    font-size: 125%;
    background-color: #effdf3;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: 100%;
}

button {
    width: 185px;
    height: 53px;
    font-family: 'Playfair Display', serif;
    background: #4ceea7;
    color: #2c2c2c;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    display: block;
    border: none;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}



/* header styles */

header {
    background-image: url(../images/01headerImage.jpg);
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.headerHome H1{
    font-size: 138px;
    margin-top:0;
    /* height: calc( 50vh - 138px ); **FIX THIS** */
    
}

/* Nav styles */

nav ul { 
    list-style: none;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top:0;
}

nav li {
    margin-right: 30px;  
    font-family: 'PlayfairDisplay', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 29px; 
    letter-spacing: 1px; 
    text-transform: uppercase;
}

nav li:hover {
    border-bottom: 2px solid #4ceea7;
}

nav li:last-child {
    margin-right:100px;
}

    /* end of nav styles */



.whatCaptured h2{
    font-family: 'PlayfairDisplay', serif;
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.whatCaptured p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.twosHome {
    display: flex;
    border: 1px solid black;
}

.skillsImage,
.gearImage {
    display: block;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;

}

.skillsHome,
.gearHome {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 0 15%;
    flex-wrap: wrap;

}

.quadHome {
    display: flex;
    border: 1px solid black; 
}


/* Month profile section */

.profilePicHome {
    width: 65%;
    padding: 40px;
    /* box-shadow: 10px 10px yellow; */
}

.profilePicHome img {
    box-shadow: 10px 10px yellow;
}

.profileParaHome {
    border: 1px solid black;
    padding 
}



.profileHome {
    display: flex;
    border: 1px solid black;
}

.profilePickHome {
    border: 1px solid black;
}



/* gallery */


.gallery {
    display: flex;
    justify-content: space-between;
}


/* footer */


footer {
    background-color: #2c2c2c;
    margin-bottom: 0;
}

.copyright p {
    text-align: center;
    color: #fafafa;
    margin-bottom: 0;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}